<div class="container-fluid">
  <div class="row">

    <div id="blueimp-gallery" class="blueimp-gallery">
      <div class="slides"></div>
      <h3 class="title"></h3>
      <a class="prev">‹</a>
      <a class="next">›</a>
      <a class="close">×</a>
      <a class="play-pause"></a>
      <ol class="indicator"></ol>
    </div>

  </div>
</div>




<div style="display: inline-block; float: right; margin: 20px">
  Ilość wyników:
  <%= select_tag :per_page, options_for_select([10,20,50], params[:per_page].to_i),
                 :onchange => "if(this.value){window.location='?per_page='+this.value;}" %>
</div>

<%= ajax_section :id => "page", :render => "page_table" %>


<script>
    /*
    document.getElementById('links').onclick = function (event) {
        event = event || window.event;
        var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');
        blueimp.Gallery(links, options);
    };
    */
    $(".links table tr td:first-child a").onclick = function (event) {
        event = event || window.event;
        alert("It works, somehow");
        var target = event.target || event.srcElement,
                link = target.src ? target.parentNode : target,
                options = {index: link, event: event},
                links = this.getElementsByTagName('a');

        blueimp.Gallery(this, options);
    };
    window.alert = function() {};
</script>

